.headerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: inset 0px -2px 1px 0px rgba(0, 0, 0, 0.03);
  position: relative;
}
.headerContainer__state_empty {
  width: 100%;
}
.freeBox {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
  width: 45px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}
.img {
  display: flex !important;
  width: 30px;
  height: 30px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  align-self: auto;
  opacity: 0.1;
}
.img__state_allChecked {
  opacity: 0.5;
}
.textbox {
  display: flex;
  width: auto;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
  font-size: 24px;
  background: rgba(255, 255, 255, 0);
  padding: 15px;
  border-width: 0px;
}
.textbox__global_theme_dark {
  color: rgb(234, 234, 234) /* plasmic-token: wDjhuKTRjIE */;
}
.headerContainer .textbox::placeholder {
  font-style: italic;
  color: rgb(230, 230, 230) /* plasmic-token: q9NfOL62PW7 */;
}
.headerContainer__global_theme_dark .textbox__global_theme_dark::placeholder {
  color: rgb(79, 79, 79) /* plasmic-token: LSde4g2ar1Q */;
}
.headerContainer__state_allChecked .textbox__state_allChecked::placeholder {
  font-style: italic;
  color: rgb(230, 230, 230) /* plasmic-token: q9NfOL62PW7 */;
}
