.root {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 3px;
  padding: 3px 7px;
  border: 1px solid rgba(0, 0, 0, 0);
}
.root__state_selected {
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid rgba(175, 47, 47, 0.2);
}
.root:hover {
  border-radius: 3px;
  border: 1px solid rgb(230, 230, 230) /* plasmic-token: q9NfOL62PW7 */;
}
.slotTargetChildren {
  color: rgb(119, 119, 119) /* plasmic-token: U5YLCDv7RGg */;
}
